/* instafeed stuff - populates index page with instagram pics  */
#instafeed{
  padding: .2px .2px .2px .2px;
  margin:10px;
 /* border:1px solid #e1e1e1;*/
  display:inline-block;
  border-radius: 4px;
  /*position: fixed;*/
/*  padding-right: 5px;
  padding-left: 5px;*/
  max-width: 100%;
  height: auto;

 /* float: right;*/
}

#instafeed a {
  padding: .1px .1px .1px .1px;
  margin:5px;
/*  border:1px solid #e1e1e1;*/
  display:inline-block;
  border-radius: 1px;
  /*position: fixed;*/
  padding-right: 5px;
  padding-left: 5px;
  max-width: 100%;
  height: auto;
}

#instafeed a img {
  max-width: 100%;
  height: auto;
}
/* end instafeed stuff */

/* link stuff*/
/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}
/* mouse over link */
a:hover {
    color: black;
    text-decoration: none;
}
/* selected link */
a:active {
    color: black;
    text-decoration: none;
}
/* end link stuff*/